@using PerfumeSite.CreditCardViewModels
@model List<CreditCardViewModel>
@{
    Layout = "_Layout"; 
}
@{
    var userId = Context.Session.GetInt32("Id");
}
<link rel="stylesheet" href="~/CreditCard/CreditCard/style.css">
<link rel="stylesheet" href="~/CreditCard/CreditCard/style.js">
<link rel="stylesheet" href="~/User/MyAccount/style.css">





<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"> 

<div class="container-fluid">
    <div class="row">
        <div class="credit-card-sidebar">
            <a asp-controller="Order" asp-action="GetOrders" class="account-btn">
                <i class="fas fa-box"></i> Tüm Siparişlerim
            </a>
            <a asp-controller="Favorite" asp-action="GetFavorites" class="account-btn">
                <i class="fas fa-heart"></i> Favorilerim
            </a>
            <a asp-controller="Basket" asp-action="GetBasket" class="account-btn">
                <i class="fas fa-shopping-cart"></i> Sepetim
            </a>
            <a asp-controller="User" asp-action="AccountSettings" class="credit-card-btn">
                <i class="fas fa-user-cog"></i> Hesap Ayarlarım
            </a>
            <a asp-controller="User" asp-action="Login" class="account-btn">
                <i class="fa-solid fa-right-from-bracket"></i> Çıkış Yap
            </a>
        </div>
        <div class="col-md-9 offset-md-3">
            <h2 class="text-warning mb-4 text-center">Kart Bilgilerim</h2>

            <div class="credit-card-container">
                @if (Model != null && Model.Any())
                {
                    foreach (var creditCard in Model)
                    {
                        <div class="credit-card-card">
                            <h3 class="credit-card-title">Kart Bilgileri</h3>
                            <ul class="list-unstyled mb-0">
                                <li><strong>Kart Numarası:</strong>**** **** **** @creditCard.CreditCardNumber.Substring(12)</li>
                                <li><strong>Geçerlilik Tarihi:</strong> @creditCard.CreditCardValidityDate</li>
                                <li><strong>CVV:</strong> @creditCard.CreditCardVerificationCode</li>
                            </ul>
                            <div class="credit-card-actions">

                                <form asp-controller="CreditCard" asp-action="EditCreditCard" method="get">
                                    <button type="submit" class="btn btn-danger">Güncelle</button>
                                    <input hidden value="@creditCard.Id" name="id" />
                                    <input hidden value="@userId" name="userId" />
                                </form>

                              
                                <form id="deleteForm" asp-controller="CreditCard" asp-action="DeleteCreditCard" method="post">
                                    <button type="button" class="btn btn-danger delete-btn" onclick="confirmDelete()">Sil</button>
                                    <input hidden value="@creditCard.Id" name="id" />
                                    <input hidden value="@userId" name="userId" />
                                </form>
                            </div>                      
                        </div>
                    }
                }
                else
                {
                    <p class="text-center">Henüz kredi kartı bilgisi bulunmamaktadır.</p>
                }
            </div>
            @if (Model.Count < 3)
            {
                <div class="text-center">
                    <a asp-controller="CreditCard" asp-action="AddCreditCard" class="add-credit-card-button">Yeni Kredi Kartı Ekle</a>
                </div>
            }
            else
            {
                <p class="max-credit-card">Maksimum Kredi Kartı Sayısına Ulaştınız</p>
            }
        </div>
    </div>
</div>
<script>
        function confirmDelete() {
        if (confirm("Bu Kartı silmek istediğinizden emin misiniz?")) {
            document.getElementById("deleteForm").submit();
        }
    }
</script>