@model List<PerfumeSite.AddressViewModels.AddressViewModel>

@{
    ViewData["Title"] = "Adreslerim";
}

<h2>Adreslerim</h2>

@if (Model != null && Model.Any())
{
    <ul class="list-group">
        @foreach (var address in Model)
        {
            <li class="list-group-item">
                <strong>Ülke:</strong> @address.Country <br>
                <strong>Şehir:</strong> @address.City <br>
                <strong>İlçe:</strong> @address.District <br>
                <strong>Mahalle:</strong> @address.Neighbourhood <br>
                <strong>Sokak:</strong> @address.Street <br>
                <strong>Bina No:</strong> @address.BuildingNumber <br>
                <strong>Daire No:</strong> @address.DoorNumber
            </li>
        }
    </ul>
}
else
{
    <p>Adres bilginiz bulunmamaktadır.</p>
    <a href="@Url.Action("AddAddress", "Address")" class="btn btn-primary">Adres Ekle</a>
}
