@using PerfumeSite.AddressViewModels
@model List<AddressViewModel>
@{
    Layout = "_Layout"; 
}
@{
    var userId = Context.Session.GetInt32("Id");
}

<link rel="stylesheet" href="~/Address/Address/style.css">
<link rel="stylesheet" href="~/Address/Address/style.js">
<link rel="stylesheet" href="~/MyAccount/style.css">


<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"> 

<div class="container-fluid">
    <div class="row">
        <div class="sidebar">
            <a asp-controller="Order" asp-action="Index" class="account-btn">
                <i class="fas fa-box"></i> Tüm Siparişlerim
            </a>
            <a asp-controller="Favorites" asp-action="Index" class="account-btn">
                <i class="fas fa-heart"></i> Favorilerim
            </a>
            <a asp-controller="Cart" asp-action="Index" class="account-btn">
                <i class="fas fa-shopping-cart"></i> Sepetim
            </a>
            <a asp-controller="User" asp-action="AccountSettings" class="account-btn">
                <i class="fas fa-user-cog"></i> Hesap Ayarlarım
            </a>
        </div>
        <div class="col-md-9 offset-md-3">
            <h2 class="text-warning mb-4 text-center">Adres Bilgilerim</h2>

            <div class="address-container">
                @if (Model != null && Model.Any())
                {
                    foreach (var address in Model)
                    {
                        <div class="address-card">
                            <h3 class="address-title">@address.City, @address.District</h3>
                            <ul class="list-unstyled mb-0">
                                <li><strong>Ülke:</strong> @address.Country</li>
                                <li><strong>Mahalle:</strong> @address.Neighbourhood</li>
                                <li><strong>Sokak:</strong> @address.Street</li>
                                <li><strong>Bina No:</strong> @address.BuildingNumber</li>
                                <li><strong>Daire No:</strong> @address.DoorNumber</li>
                            </ul>
                            <div class="address-actions">
                                
                                <form asp-controller="Address" asp-action="EditAddress" method="get">
                                    <button type="submit" class="btn btn-danger">Güncelle</button>
                                    <input hidden value="@address.Id" name="id" />
                                    <input hidden value="@userId" name="userId" />
                                </form>

                                
                                <form id="deleteForm" asp-controller="Address" asp-action="DeleteAddress" method="post">
                                    <button type="button" class="btn btn-danger" onclick="confirmDelete()">Sil</button>
                                    <input hidden value="@address.Id" name="id" />
                                    <input hidden value="@userId" name="userId" />
                                </form>
                            </div>

                      



                        </div>
                    }
                }
                else
                {
                    <p class="text-center">Henüz adres bilgisi bulunmamaktadır.</p>
                }
            </div>
            @if(Model.Count < 3)
            {

            <div class="text-center">
                <a asp-controller="Address" asp-action="AddAddress" class="add-address-button">Yeni Adres Ekle</a>
            </div>
            }
            else{
                <p class="maksadres">Maksimum Adres Sayısına Ulaştınız</p>
            }
        </div>
    </div>
</div>
